.header {
  font-weight: bold;
  font-size: 16pt;
  color: #0389ff;
  height: 25px;
  padding: 10px 0 10px 0;
  letter-spacing: 0.3px;
}

.header * {
  vertical-align: middle;
}

.header__link:focus {
  outline: none;
}

.header__link {
  color: white;
  padding-left: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 350px;
  overflow-y: overlay;
}

.card {
  box-sizing: border-box;
  flex: 0 0 245px;
  padding: 0px 10px;
  margin-right: 10px;
  position: relative;
  height: 100%;
}

.card-inner {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: row;
  height: 31px;
  letter-spacing: 0.5px;
}

.detected {
  columns: 2;
  column-gap: 1.5rem;
  line-height: 1.4rem;
}

.detected__category {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding-bottom: 1rem;
}

.detected__category-name {
  display: block;
}

.detected__category-link {
  color: #202124;
  font-size: 11pt;
  font-weight: normal;
  line-height: 2rem;
  text-decoration: none;
  cursor: default;
  letter-spacing: 0.5px;
}

.detected__category-pin-wrapper {
  margin-left: .2rem;
}

.detected__category-pin {
  cursor: pointer;
  display: none;
  height: 16px;
  margin-left: .2rem;
  width: 16px;
  vertical-align: middle;
}

.detected__category:hover .detected__category-pin--inactive {
  display: inline-block;
}

.detected__category-pin-wrapper--active .detected__category-pin--inactive,
.detected__category-pin-wrapper:hover .detected__category-pin--inactive {
  display: none !important;
}

.detected__category-pin-wrapper--active .detected__category-pin--active,
.detected__category-pin-wrapper:hover .detected__category-pin--active {
  display: inline-block;
}

.detected__app {
  color: #3c4043;
  line-height: 1.4rem;
  text-decoration: none;
  display: block;
  transition: 100ms all ease-in-out;
  height: 26px;
}

.tooltip.detected__app {
  opacity: 0.5;
}

.tooltip.detected__app:hover {
  opacity: 1;
}

.detected__app:hover {
  background-color: #F8FCFF;
}

div.convertable_apps .detected__app {
  display: inline;
}

.detected__app:focus {
  display: block;
  outline: 0;
}

.detected__app-icon {
  display: inline-block;
  height: 16px;
  margin-right: .5rem;
  vertical-align: -.2rem;
  width: 16px;
}

.detected__app-name {
  font-size: 10pt;
  transition: 100ms all ease-in-out;
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
}

.converter {
  display: none;
}

.back-button {
  display: none;
}

.converter-tabs {
  display: none;
}

.converter-tabs pre {
  background: #fff;
  display: block;
  font-size: 10pt;
  line-height: 15px;
  margin: 0;
  padding: 7px;
}

.converter-tabs p a {
  color: #1c79c0;
  text-decoration: none;
}
.converter-tabs p a:hover {
  text-decoration: underline;
}
.converter-tabs p.converted-content {
  font-size: 13px;
  line-height: 15px;
}
.converter-tabs.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.detected__app-convert {
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  margin: -4px 0 0;
  float: right;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
  transition: 100ms all ease-in-out;
}
.detected__app-convert:hover {
  opacity: 1;
}

.detected__app-version, .detected__app-confidence {
  background: #eee;
  border-radius: 3px;
  font-size: .7rem;
  margin-left: .3rem;
  padding: .1rem .2rem;
  text-decoration: unset;
  vertical-align: middle;
}

.detected__app:hover .detected__app-name {
  color: #0389ff;
}

.detected__app:hover .detected__app-version {
  border-bottom: 1px solid white;
}

.detected__app:hover .detected__app-confidence {
  border-bottom: 1px solid white;
}

.detected-app {
  padding: 7px 0;
}

.detected-app:first-child {
  padding-top: 0;
}

.detected-app:last-child {
  border: none;
  padding-bottom: 0;
}

.empty {
  display: flex;
  height: 14.5rem;
  align-items: center;
  justify-content: center;
  color: #616161;
}

div.convertable_apps {
  display: block;
  transition: 100ms all ease-in-out;
  height: 26px;
}


div.convertable_apps:hover {
  background-color: #F8FCFF;
}
html {
  background-color: #fff;
  color: #333;
  width: 780px;
}

body {
  font-family: "Google Sans", sans-serif;
  font-size: 100%;
  min-width: 400px;
  min-height: 220px;
  margin: 0 8px;
}

header {
  font-weight: 300;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

#logo {
  height: 25px;
  width: 25px;
}

.logo {
  float: left;
  height: 25px;
  margin: 0 0 0px 10px;
}

.logo sup{
  vertical-align: super;
  font-size: 12pt;
}

.logo object {
  vertical-align: super;
}

.logo span {
  float: left;
  margin-left: 2px;
}

.settings {
  float: right;
  height: 25px;
  margin-right: 10px;
}

.settings-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.settings-button:hover {
  background-color: #F8FCFF;
}

.feedback-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 16px;
  vertical-align: super;
  opacity: 0.8;
}

.feedback-button:hover {
  background-color: #F8FCFF;
  opacity: 1
}

#settings-icon {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

#feedback-icon {
  pointer-events: none;
}


.back-button {
  background: transparent;
  border: none;
  outline: none;
  opacity: 0.5;
  /*transition: 100ms all ease-in-out;*/
  cursor: pointer;
}

.back-button:hover {
  opacity: 1;
}

#back-icon {
  height: 25px;
  width: 25px;
  pointer-events: none;
}

#chevrons {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: 2px;
}
.question-mark #chevrons {
  margin-top: 5px;
}

#code_brackets {
  position: relative;
  height: 20px;
  width: 20px;
  top: 6px;
  pointer-events: none;
}

/* Dropdown Content (Hidden by Default) */
.settings-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  margin-right: 15px;
  border-radius: 4px;
}

.settings-dropdown > br:after{
  border-bottom:1px black;
  content: "";
  display: block;
}

/* Links inside the dropdown */
.settings-dropdown a {
  color: #3c4043;
  padding: 6px 2px;
  text-decoration: none;
  display: block;
  font-weight: lighter;
  font-size: 10pt;
  margin: 0px 10px;
  font-family: "Roboto", sans-serif;
}

.settings-dropdown hr {
  margin: 5px;
  color: #AAA;
  border-color: white;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;

}
.settings-dropdown div {
  width: 100%;
}

/* Change color of dropdown links on hover */
.settings-dropdown div:hover {
  background-color: #F8FCFF;
}

.settings-dropdown div:hover a {
  color: #0389ff;
}

.info {
  float: right;
}

#title {
  padding: 0px 10px;
  font-size: 1em;
  margin-top: 1px;
}

.title {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 13pt;
  line-height: 16px;
  margin: 5px 10px 5px 0px;
  position: relative;
  flex: 0 0 245px;
}

.title::after {
  background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
  content: '';
  left: 0;
  height: 2px;
  position: absolute;
  right: 0;
  top: 24px;
}

.title .text {
  margin-top: 2px;
  margin-left: 6px;
  position: absolute;
}

.supported {
  color: #1e8e3e;
}

.work-around {
  color: #1e8e3e;
}

.not-supported {
  color: #f29900;
}

.supported::after {
  background: #1e8e3e;
}

.work-around::after {
  background: #1e8e3e;
}

.not-supported::after {
  background: #f29900;
}

.rows {
  margin-top: 15px;
}

.analytics-row {
  margin-top: 35px;
}

.cms-row {
  margin-top: 35px;
}

.collapsible {
  color: #1c79c0;
  text-transform: uppercase;
}

.expanding-list {
  color: #959595;
  font-size: 12px;
  margin-top: 10px;
}

ul {
  margin: 5px 0px;
  padding: 0px;

  font-size: 14px;
  line-height: 26px;
  letter-spacing: .56px;

  color: #333;
}

li {
  list-style: none;
}

li.empty {
  color: #959595;
  font-size: 12px;
}

footer {
  font-size: 12px;
  width: 100%;
  padding-top: 10px;
  height: 23px;
}

footer div {
  display: inline-block;
  margin: 0px 10px;
  color: #959595;
}

footer div a {
  text-decoration: none;
  color: #959595;
}

footer div a:hover {
  text-decoration: underline;
}

.no-tooltip {
  visibility: hidden;
}

.tooltip .detected__app-name {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: dashed;
  text-underline-position: under;
}

.question-mark {
  text-decoration: none;
  vertical-align: middle;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer !important;
  opacity: 0.5;
  transition: 100ms all ease-in-out;
  margin-left: 5px;
  margin-top: 1px;
  position: absolute;
}

.question-mark:hover {
  opacity: 1;
}

.question-mark:before {
  font-weight: normal;
}

span.tooltip.detected__app {
  display: inline;
  vertical-align: middle;
}

span.tooltip.detected__app > object {
  display: inline !important;
}




/* Expanding lists */

input[type="checkbox"]:not(:checked)+label:after {
  content: '\25BC';
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"].current+label:after {
  content: "\25B2";
}

label {
  font-size: 14px;
  margin-top: -5px;
}

input {
  display: none;
}

input+.collapsible+div {
  display: none;
}

input:checked+.collapsible+div {
  display: block;
}
.ui-tooltip {
  position: absolute !important;
  z-index: 2000000000 !important;
  border-radius: 4px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 16px !important;
  opacity: 1 !important;
  box-sizing: border-box !important;
  width: 340px !important;
  padding: 18px 0px 0px 0px !important;
}
.ui-tooltip-content {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0,0.87);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

span.tooltip_title {
  color: #0389ff;
  font-family: 'Google Sans',sans-serif;
  font-size: 16pt;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  padding: 18px 0px 0px 0px !important;
  margin: 0 22px 14px 22px !important;
}

p.tooltip_description {
  font-size: 10.5pt;
  margin: 5px 22px 14px 22px;
  color: #3c4043;
}

button.tooltip_button {
  color: #0389ff;
  background-color: white;
  float: right;
  border-radius: 2px;
  font-family: 'Google Sans',Roboto,sans-serif !important;
  margin: 5px !important;
  font-size: 9pt !important;
  padding: 6px 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #e0f1ff;
  letter-spacing: 0.5px;
  transition: 100ms all ease-in-out;
}

button.tooltip_button:hover {
  background-color: #F8FCFF;
}

img.tooltip_image {
  display: inline-block;
  height: 24px;
  margin-left:22px;
  margin-right: -15px;
  vertical-align: -.2rem;
  width: 24px;
}

/* jQuery Tab Widget Styles */
.ui-tabs .ui-tabs-nav {
  /*border-bottom: 1px solid #DDDDDD !important;*/
  border-radius: 0px !important;
  padding: 0;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-tabs .ui-tabs-nav li a{
  color: #3c4043;
  font-weight: lighter;
  font-size: 11pt;
  line-height: 16px;
  position: relative;
  outline: none;
  cursor: pointer !important;
}

.ui-tabs .ui-tabs-nav li {
  outline: none;
  font-family: "Google Sans", sans-serif;
  border: none;
  padding: 0px !important;
  margin: 1px 0 0 0 !important;
  letter-spacing: 0.5px;
}


.ui-tabs .ui-tabs-nav li.ui-state-active {
  border-bottom: 2px solid #0389ff !important;
}

.ui-tabs .ui-tabs-nav img{
  height: 20px;
  width: 20px;
  position: relative;
  background: transparent;
  top: 3px;
  margin-left: .5em;
}

.ui-widget-header {
  background: none !important;
  border: none !important;
}

.ui-state-default a {
  background-color: white;
}

.ui-state-active a{
  background-color: #F8FCFF;
  color: #0389ff !important;
}

.ui-state-active img {

}

.ui-tabs-tab {
  background: transparent !important;
}

.ui-tabs-tab:hover {
  background: #F8FCFF !important;
}

.ui-tabs-tab.ui-state-active {
  background: #F8FCFF !important;
}



.ui-tabs .ui-tabs-nav li:hover a {
  background-color: #F8FCFF;
  color: #0389ff;
}

pre[class*="language-"]>code {
  background: white;
  border: none;
  box-shadow: none;
}

code.language-html {
  padding: 0;
  white-space: pre-wrap;
}

.ui-tabs-anchor {
  float: right !important;
}

.highlight {
  background-color: yellow;
}